## Machine Learning

In [116]:
# Getting the first 5 rows of final_df
final_df.head()

,Host City,Year,Team,Season,Season (Binary),Latitude,Longitude,Host,GDP Total,Population,Total Disciplines,Total Athletes,Total Events,Total Countries,GDP per Capita,Team Size,Medal_Count
0,Albertville,1992,Algeria,Winter,0,28.033886,1.659626,0,2.667951e+11,27028330.0,12.0,1801.0,57.0,64.0,9870.942241,4,0.0
1,Albertville,1992,Andorra,Winter,0,42.546245,1.601554,0,1.602650e+09,58882.0,12.0,1801.0,57.0,64.0,27218.000000,5,0.0
2,Albertville,1992,Argentina,Winter,0,-38.416097,-63.616672,0,4.369807e+11,33529320.0,12.0,1801.0,57.0,64.0,13032.793286,20,0.0
3,Albertville,1992,Australia,Winter,0,-25.274398,133.775136,0,4.867280e+11,17402179.0,12.0,1801.0,57.0,64.0,27969.371912,22,0.0
4,Albertville,1992,Austria,Winter,0,47.516231,14.550072,0,2.538148e+11,7830938.0,12.0,1801.0,57.0,64.0,32411.802459,58,21.0

In [117]:
# Making the datasets
X = final_df.iloc[:, 4:16].values
y = final_df.iloc[:, 16].values

In [118]:
from sklearn.model_selection import train_test_split

# Splitting the datasets into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [119]:
# from sklearn.preprocessing import StandardScaler

# # Feature Scaling
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [120]:
from sklearn.ensemble import RandomForestRegressor

# Training and testing the model
regressor = RandomForestRegressor(n_estimators=500, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [121]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1.8258425720620841
Mean Squared Error: 20.809213618625275
Root Mean Squared Error: 4.561711698323917

In [122]:
# Creating a test DataFrame
usa_test = {'Season (Binary)': 0, 'Latitude': 37.0902, 'Longitude': 95.7129, 'Host': 0, 'GDP Total': 20580000000000,
           'Population': 327200000, 'Total Disciplines': 15, 'Total Athletes': 2922, 'Total Events': 102,
           'Total Countries': 92, 'GDP per Capita': 62897.3105134, 'Team Size': 241}

usa_test_df = pd.DataFrame(usa_test, index=[0])

In [123]:
# Viewing the test DataFrame
usa_test_df

,Season (Binary),Latitude,Longitude,Host,GDP Total,Population,Total Disciplines,Total Athletes,Total Events,Total Countries,GDP per Capita,Team Size
0,0,37.0902,95.7129,0,20580000000000,327200000,15,2922,102,92,62897.310513,241

In [124]:
# Testing the model
y_pred = regressor.predict(usa_test_df)

In [125]:
# Not bad. The actual result was 23 medals
print(y_pred)

[27.468]