## Machine Learning

In [128]:
# Getting the first 5 rows of final_df
final_df.head()

,Host City,Year,Team,Season,Season (Binary),Latitude,Longitude,Host,GDP Total,Population,Total Disciplines,Total Athletes,Total Events,Total Countries,GDP per Capita,Team Size,Bronze,Silver,Gold,Total Medals
0,Barcelona,1992,China,Summer,1,35.861660,104.195397,0,2.234003e+12,1.206711e+09,34.0,9356.0,257.0,169.0,1851.315492,282,15.0,22.0,16.0,53.0
3,London,2012,China,Summer,1,35.861660,104.195397,0,1.538561e+13,1.384206e+09,36.0,10568.0,302.0,204.0,11115.110675,416,24.0,27.0,38.0,89.0
6,Antwerpen,1920,Denmark,Summer,1,56.263920,9.501785,0,2.325348e+10,3.241807e+06,29.0,2622.0,156.0,29.0,7173.000000,154,1.0,9.0,3.0,13.0
9,Paris,1900,Denmark,Summer,1,56.263920,9.501785,0,1.390554e+10,2.565597e+06,20.0,997.0,95.0,24.0,5420.000000,13,2.0,3.0,2.0,7.0
12,Calgary,1988,Netherlands,Winter,0,52.132633,5.291266,0,4.424437e+11,1.477403e+07,10.0,1423.0,46.0,57.0,29947.389734,11,2.0,2.0,3.0,7.0

In [129]:
# Making the datasets
X = final_df.iloc[:, 4:16].values
y = final_df.iloc[:, 19].values

In [130]:
from sklearn.model_selection import train_test_split

# Splitting the datasets into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [131]:
# from sklearn.preprocessing import StandardScaler

# # Feature Scaling
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [132]:
from sklearn.ensemble import RandomForestRegressor

# Training and testing the model
regressor = RandomForestRegressor(n_estimators=500, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [133]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.0597117516629715
Mean Squared Error: 32.41010774279379
Root Mean Squared Error: 5.692987593767774

In [138]:
accuracy = regressor.score(X_test, y_test)
accuracy

0.793199614356529

In [134]:
# Creating a test DataFrame
usa_test = {'Season (Binary)': 0, 'Latitude': 37.0902, 'Longitude': 95.7129, 'Host': 0, 'GDP Total': 20580000000000,
           'Population': 327200000, 'Total Disciplines': 15, 'Total Athletes': 2922, 'Total Events': 102,
           'Total Countries': 92, 'GDP per Capita': 62897.3105134, 'Team Size': 241}

usa_test_df = pd.DataFrame(usa_test, index=[0])

In [135]:
# Viewing the test DataFrame
usa_test_df

,Season (Binary),Latitude,Longitude,Host,GDP Total,Population,Total Disciplines,Total Athletes,Total Events,Total Countries,GDP per Capita,Team Size
0,0,37.0902,95.7129,0,20580000000000,327200000,15,2922,102,92,62897.310513,241

In [136]:
# Testing the model
y_pred = regressor.predict(usa_test_df)

In [137]:
# Not bad. The actual result was 23 medals
print(y_pred)

[25.956]